In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/arad1367/WAC_November-2023/main/drug200.csv')
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [2]:
# When label variable, dependent variable is string
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data['Drug'] = labelencoder.fit_transform(data['Drug'])
data.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   23   F    HIGH        HIGH   25.355     0
1   47   M     LOW        HIGH   13.093     3
2   47   M     LOW        HIGH   10.114     3
3   28   F  NORMAL        HIGH    7.798     4
4   61   F     LOW        HIGH   18.043     0

In [3]:
# Getting data ready
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Modelling
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV

# Setup random seed
import numpy as np
np.random.seed(42)

# Import data and drop the rows with missing labels (for dependent variable)
data.dropna(subset=["Drug"], inplace=True)

# Define different features and transformer pipelines
categorical_features = ["Sex", "BP", "Cholesterol"]
categorical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="constant", fill_value="missing")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))])

numeric_features = ["Age", "Na_to_K"]
numeric_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="mean"))
])

# Setup preprocessing steps (fill missing values, then convert to numbers)
preprocessor = ColumnTransformer(
    transformers=[
        ("cat", categorical_transformer, categorical_features),
        ("num", numeric_transformer, numeric_features)])

# Create a preprocessing and modelling pipeline
model = Pipeline(steps=[("preprocessor", preprocessor),
                        ("model", RandomForestRegressor(n_jobs=-1))])

model
# Split data
X = data.drop("Drug", axis=1)
y = data["Drug"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Fit and score the model
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9997610090728037

### Save the model

In [4]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(model, pickle_out)
pickle_out.close()